RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([A-Za-z0-9\_\-]+)/(.*)(/?)$ /index.php
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 
